In [1]:
print('this is a string {}'.format('INSERTED'))

this is a string INSERTED

In [3]:
print('The {2} {1} {0}'.format('fox', 'brown', 'quick'))

The quick brown fox

In [6]:
print('The {q} {b} {f}'.format(f='fox',b='brown',q='quick'))

The quick brown fox

In [9]:
print('The {q} {b} {f}'.format(f='fox',b='brown',q='quick'))

The quick brown fox

In [19]:
result = 104.12345

In [11]:
result

0.1287001287001287

In [13]:
print("the result was {r}".format(r=result))

the result was 0.1287001287001287

In [21]:
print("the result was {r:1.5f}".format(r=result))

the result was 104.12345

In [22]:
name = "jose"

In [23]:
print(f"Hello, his name is {name}")

Hello, his name is jose

In [27]:
name = "josie"
age = 3

In [28]:
print(f"{name} is {age} years old")

josie is 3 years old

In [29]:
print("{} my {} is {}".format("hello", "name", "josie"))

hello my name is josie

In [30]:
my_list = [1,2,3]

In [31]:
len(my_list)

3

In [32]:
myList = ['one','two','three']

In [33]:
myList[0]

'one'

In [34]:
myList[1:]

['two', 'three']

In [35]:
another_list = ['four', "five"]

In [38]:
new_list = myList + another_list

In [37]:
another_list

['four', 'five']

In [39]:
new_list

['one', 'two', 'three', 'four', 'five']

In [40]:
new_list[0] = 'ONE ALL CAPS'

In [41]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [42]:
new_list.append('six')

In [43]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [44]:
new_list.append('seven')

In [45]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

In [46]:
new_list.pop()

'seven'

In [47]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [48]:
popped_item = new_list.pop()

In [49]:
popped_item

'six'

In [50]:
new_list.pop(0)

'ONE ALL CAPS'

In [51]:
new_list

['two', 'three', 'four', 'five']

In [52]:
new_list.reverse()

In [53]:
new_list

['five', 'four', 'three', 'two']

In [54]:
new_list.reverse()

In [55]:
new_list

['two', 'three', 'four', 'five']

In [59]:
new_list = ['a','e','x','b','c']
num_list = [4,1,8,3]

 new_list.sort()

In [58]:
new_list

['a', 'e', 'x', 'b', 'c']

In [60]:
new_list

['a', 'e', 'x', 'b', 'c']

In [61]:
new_list.sort()

In [62]:
new_list

['a', 'b', 'c', 'e', 'x']

In [63]:
my_sorted_lst = new_list.sort()

In [65]:
type(my_sorted_lst)

NoneType

In [66]:
None

In [67]:
new_list.sort()
my_sorted_list = new_list

In [68]:
new_list

['a', 'b', 'c', 'e', 'x']

In [69]:
num_list

[4, 1, 8, 3]

In [70]:
num_list.sort()

In [71]:
num_list

[1, 3, 4, 8]

In [72]:
num_list.reverse()

In [73]:
num_list

[8, 4, 3, 1]

In [76]:
my_dict = {'key1':'value1','key2':'value2'}

In [77]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [78]:
my_dict['key1']

'value1'

In [79]:
prices_lookup = {'apple':2.99,'oranges':1.99,'milk':5.80}

In [80]:
prices_lookup['apple']

2.99

In [83]:
d  = {'k1':123,'k2':[0,1,2],'k3':{'insideKey':100}}

In [84]:
d

{'k1': 123, 'k2': [0, 1, 2], 'k3': {'insideKey': 100}}

In [89]:
d['k2'][2]

2

In [88]:
d['k3']['insideKey']

100

In [91]:
d = {'key1':['a','b','c']}

In [92]:
d

{'key1': ['a', 'b', 'c']}

In [94]:
d['key1'][2].upper()

'C'

In [95]:
d = {'k1':100,'k2':200}

In [96]:
d

{'k1': 100, 'k2': 200}

In [97]:
d['k3']=300

In [98]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [99]:
d['k1'] = 'NEW VALUE'

In [100]:
d

{'k1': 'NEW VALUE', 'k2': 200, 'k3': 300}

In [101]:
d = {'k1': 100, 'k2': 200, 'k3': 300}

In [102]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [103]:
d.values()

dict_values([100, 200, 300])

In [104]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

In [105]:
t = (1,2,3)

In [106]:
myList = [1,2,3]

In [107]:
type(t)

tuple

In [110]:
type(myList)

list

In [112]:
len(t)

3

In [113]:
t[0]

1

In [114]:
t = ('a','b','a')

In [118]:
t.count('a')

2

In [119]:
t.index('a')

0

In [120]:
name = 'elizabeth'
age = 8

In [121]:
print(f"my name is {name} and I am {age}")

my name is elizabeth and I am 8

In [122]:
location = 'north haven'

In [123]:
print(f'i am in {location}')

i am in north haven

In [124]:
number = 88

In [125]:
number

88

In [126]:
location = 'blue of sea'

In [127]:
print(f"I am queen of {location}")

I am queen of blue of sea

In [129]:
struct_time()

NameError: name 'struct_time' is not defined

In [130]:
time.clock()

NameError: name 'time' is not defined

In [131]:
t = ('a','b','a')

In [132]:
t[2]

'a'

In [134]:
t.count('a')

2

In [135]:
t.index('a')

0

In [136]:
myList

[1, 2, 3]

In [137]:
myList[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

In [139]:
myset = set()

In [140]:
myset

set()

In [141]:
myset.add(1)

In [142]:
myset

{1}

In [143]:
myset.add(2)

In [144]:
myset

{1, 2}

In [145]:
myset.add(2)

In [146]:
myset

{1, 2}

In [147]:
myList = [1,1,1,1,1,2,2,2,2,3,3,3,3,4,4,4]

In [148]:
set(myList)

{1, 2, 3, 4}

In [149]:
set('Mississippi')

{'M', 'i', 'p', 's'}

In [150]:
True

True

In [151]:
False

False

In [152]:
1 > 2

False

In [153]:
1 == 1

True

In [154]:
1 ==2

False

In [156]:
1 == 2

False

In [157]:
b = None

In [158]:
b

In [159]:
set([1,2,3])

{1, 2, 3}

NameError: name 'test' is not defined

In [161]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

Writing myfile.txt

In [162]:
myfile = open('myfile.txt')

In [163]:
myfile = open('whhops_wrong.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'whhops_wrong.txt'

In [164]:
pwd

'/Users/josieperalta/Work/python/python_class'

In [165]:
ls

myexample.py           myfile.txt             myfirstnotebook.ipynb

In [166]:
myfile = open('myfile.txt')

In [168]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line'

In [169]:
myfile.read()

''

In [171]:
myfile.seek(0)

0

In [173]:
contents = myfile.read()

In [174]:
contents

''

In [176]:
myfile.seek(0)

0

In [177]:
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line']

In [178]:
pwd

'/Users/josieperalta/Work/python/python_class'

In [180]:
myfile = open('/Users/josieperalta/Work/python/python_class/myfile.txt')

In [181]:
myfile.close()

In [182]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [184]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line'

In [188]:
with open('myfile.txt',mode='a') as myfile:
    contents = myfile.read()

UnsupportedOperation: not readable

In [186]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line'

In [189]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Writing my_new_file.txt

In [191]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [194]:
with open('my_new_file.txt',mode='a') as f:
    print(f.write('\nFOUR ON FOURTH'))

15

In [193]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRDFOUR ON FOURTH

In [195]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRDFOUR ON FOURTH
FOUR ON FOURTH

In [197]:
with open('buuhyjhbk.txt',mode='w') as f:
   f.write('created')

In [198]:
with open('buuhyjhbk.txt',mode='r') as f:
   print(f.read('created'))

TypeError: argument should be integer or None, not 'str'

In [199]:
2 == 2

True

In [201]:
2 == 4

False

In [202]:
'hello' == 'bye'

False

In [204]:
1 < 2 and 2 < 3

True

In [206]:
('h' == 'h') and (2 == 2)

True

In [208]:
1 ==  1 or  2 == 588

True

In [210]:
not 1 == 1

False

In [212]:
1 != 1

False