In [1]:
## two arrays that and two integers, one from each array, 
## that come close to the sum of 24

# [-1,3,8,2,9,5]
# [4,1,2,10,5,20]

    ##init an empoty set
        ## put first array in set
    ## then check second array to see if any from there with the set add to 245

In [2]:
lst = [1,2,3,8,4,9,6,10]

In [3]:
def exam(s):
    if len(s) > 0:
        return True

In [5]:
exam(lst)

True

In [10]:
def seven_boom(lst):
    if 7 in lst:
        return "Boom"
    else:
        return "there is no 7 in the list"

In [11]:
seven_boom([1, 2, 3, 4, 5, 6, 7])

'Boom'

In [21]:
def num_to_dashes(num):
    return num * "-"

In [ ]:
num_to_dashes(10)

In [11]:
# first recurring

def recur(s):
    count = {}
    
    for char in s:
        if not char in count:
            count[char] = 1
        else:
            count[char] += 1
    return count

In [12]:
recur("hello")

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

In [47]:
def freq(s):
    count = {}
    max_count = 0
    max_item = None
    
    for char in s:
        if char not in count:
            count[char] = 1
        else:
            count[char] += 1
        if count[char] > max_count:
            max_count = count[char]
            max_item = char
    return max_item

In [48]:
freq("helllooo thereihhhh")

'h'

In [19]:
def is_leap(year):
    leap = False
    
    if (year % 100 == 0):
        leap = False 
    elif (year % 4 == 0) and (year % 400 != 0):
        leap = True
    else:
        leap = False
    
    return leap

In [21]:
is_leap(2000)

False

In [22]:
2000 % 100

0

In [29]:
def how_many_times(num):
    word = "edabit"
    mult = num * word[2]
    return word[:2] + mult + word[3:]

In [30]:
how_many_times(2)

'edaabit'

In [35]:
test = {'z': 2, 'w': 4, 'y': 5}

In [36]:
len(test)

3

In [75]:
def search(lst, item):
    return lst.index(item) if item in lst else -1

In [77]:
search([1, 2, 3, 4], 5)

-1

In [91]:
def find_digit_amount(num):
    count = 0
    while num != 0:
        num //= 10
        count += 1
    return count

In [92]:
find_digit_amount(789)

3

In [93]:
789 /10

78.9

In [29]:
def character_mapping(txt):
    count = {}
    
    for char in txt:
        if char in count:
            count[char] = 1
        else:
            count[char] = 1
    return count

In [30]:
character_mapping("addd")

{'a': 1, 'd': 1}

In [1]:
info = {'cost_price': 32.67, 'sell_price': 45.00, 'inventory': 1200}

In [2]:
info.cost_price.values()

AttributeError: 'dict' object has no attribute 'cost_price'

In [3]:
print(info['cost_price'])

32.67

In [4]:
def profit(info):
	return (info['sell_price']*info["inventory"]) - (info['cost_price']*info["inventory"])

In [5]:
profit({'cost_price': 32.67, 'sell_price': 45.00, 'inventory': 1200})

14796.0

In [14]:
def search(lst, item):
    for i in lst:
        if not item == lst[i]:
            return -1
        else:
            return i

In [15]:
search([1, 5, 3], 9)

-1

In [35]:
def count_all(txt):
	letters = 0
	nums = 0
	
	for char in txt:
		if char.isalpha() == True:
			letters+=1
		elif char.isdigit() == True:
			nums +=1
		else:
			letters+=0
			nums +=0
	return "'LETTERS': {}, 'DIGITS': {}".format(letters, nums)

In [37]:
count_all('hello')

"'LETTERS': 5, 'DIGITS': 0"

In [50]:
def fib(n):
    if n <= 1:
        return n
    else:
        return fib(n-1) + fib(n-2)

In [52]:
fib(2)

1

In [53]:
25 % 10

5

In [54]:
21 % 10

1

In [69]:
def last_dig(a, b, c):
    return (12 % 10) * (15 % 10) % 10 == c % 10

In [70]:
last_dig(12,15,10)

True

In [66]:
10 % 10

0

In [68]:
(12 % 10) * (15 % 10) % 10

0

In [72]:
## suit : number
hand = [9,8,7,6,5]
sort_hand = sorted(hand)

for num in hand:
    if num == hand[num + 1]:
        print("Straight")

IndexError: list index out of range

In [1]:
num = 12345

In [4]:
word = str(num)

In [6]:
rev = word[::-1]

int(word)

In [8]:
int(rev)

54321

In [16]:
def hash_plus_count(txt):
	hashes = 0
	plus = 0
	
	for char in txt:
		if char == "#":
			hashes += 1
		elif char =="+":
			plus += 1
		else:
			hashes += 0
			plus += 0
	return [hashes, plus]

In [19]:
hash_plus_count("####")

[4, 0]

In [33]:
def merge_sort(lst):
    if len(lst) <= 1:
        return lst
    
    midpoint = int(len(lst) / 2)
    
    left,right = merge_sort(lst[:midpoint]), merge_sort(lst[midpoint:])

    return merge(left,right)

def merge(left,right):
    result = []
    left_pointer = right_pointer = 0
    
    while left_pointer < len(left) and right_pointer < len(right):
    
        if left[left_pointer] < right[right_pointer]:
            result.append(left[left_pointer])
            left_pointer += 1
        else:
            result.append(right[right_pointer])
            right_pointer += 1

    result.extend(left[left_pointer:])
    result.extend(right[right_pointer:])

    return result

In [34]:
merge_sort([40,30,70,10,3,5,6,7,900,900000,300,407])

[3, 5, 6, 7, 10, 30, 40, 70, 300, 407, 900, 900000]

In [46]:
def duplicates(lst):
    count = {}
    max_count = 0
    max_item = None
    
    for num in lst:
        if not num in count:
            count[num] = 1
        else:
            count[num] += 1
            
        if count[num] > max_count:
            max_count = count[num]
            max_item = num
            
    return max_item

In [48]:
duplicates([1,2,3,3,3,4,5,6,6,6,7,7,7,6,6])

6

In [8]:
class Node():
    def __init__(self,key):
        self.val = key
        self.left = self.right = None
        
        
def insert(root,node):
    if root is None:
        root = node
    else:
        if root.val < node.val:
            if root.right is None:
                root.right = node
            else:
                insert(root.right,node)
        elif root.val > node.val:
            if root.left is None:
                root.left = node
            else:
                insert(root.left,node)
        else:
            print("Value Already Inserted")
            
def preorder(root):
    if root:
        print(root.val)
        preorder(root.left)
        preorder(root.right)
        
        
def insert_loop(lst):
    for num in lst:
        insert(tree,Node(num))

In [9]:
tree = Node(10)

In [10]:
insert(tree,Node(4))

In [11]:
insert_loop([24,5,68,9,3])

In [13]:
preorder(tree)

10
4
3
5
9
24
68

In [69]:
def mean(lst):
    count = 0
    for char in lst:
        count += 1
    
    return (sum(lst))//count

In [70]:
mean([1, 6, 6, 7, 8, 8, 9, 10, 10])

7

In [75]:
def nocond(n):
    return 1 - n

In [78]:
nocond(0)

1

In [79]:
l_st = [4,5,6,7]

In [80]:
l_st.pop()

7

In [81]:
l_st

[4, 5, 6]

In [95]:
def sum_recursively(lst):
    if len(lst) == 0:
        return 0
    else:
        return lst[0] + sum_recursively(lst[1:])

In [96]:
sum_recursively([5,6,7,8])

26

In [104]:
def char_count(txt1, txt2):
	return txt2.count(txt1)

In [105]:
char_count('b', 'big fat bubble')

4

In [24]:
def bin_search(lst,val):
    if len(lst) == 0 or (len(lst) == 1 and lst[0] != val):
        return False
    
    mid = lst[len(lst) // 2]
    
    if mid == val:
        return True
    if mid > val:
        return bin_search(lst[:len(lst) // 2], val)
    if mid < val:
        return bin_search(lst[len(lst) // 2:], val)

In [28]:
bin_search([1,20,30,49,55,100,500,533,560,600,1000],55)

True

In [43]:
def is_truthy(val):
	return bool(val)

In [44]:
str(type(is_truthy('123'))

SyntaxError: unexpected EOF while parsing (<ipython-input-44-b1fd9749612e>, line 1)

50
3
20
55