In [2]:
##nested statements and scope

In [3]:
name = "THIS IS A GLOBAL STRING"

def greet():
    
    name = "Josie"
    
    def hello():
        print(name)
    
    hello()
greet()

Josie

In [5]:
name

'THIS IS A GLOBAL STRING'

In [6]:
greet()

Josie

In [11]:
# v = (4/3)*pi*(r**3)

def vol(rad):
    return (4/3)*3.14*(rad**3)

In [12]:
vol(10)

4186.666666666667

In [22]:
def ran_bool(num,low,high):
    return num > low and num < high

In [24]:
ran_bool(5,1,10)

True

In [32]:
#counter for number of capitalize

def up_low(s):
    up_count = 0
    low_count = 0
    for letter in s:
        if letter.isupper():
            up_count += 1
        elif letter.islower():
            low_count += 1
    print(f"Uppercase = {up_count}")
    print(f"Lowercase = {low_count}")

In [34]:
up_low('Hello Mr. Rogers, how are you this fine Tuesday?')

Uppercase = 4
Lowercase = 33

In [40]:
def unique_list(lst):
    newlist = []
    for num in lst:
        if num not in newlist:
            newlist.append(num)
    return newlist

In [41]:
unique_list([1,1,1,1,2,2,2,2,3,3,3,4,5,5,5])

[1, 2, 3, 4, 5]

In [46]:
def multiply(numbers):
    total = 1
    for num in numbers:
        total *= num
    return total

In [47]:
multiply([1,2,3,-4])

-24

In [50]:
def palindrome(s):
    revstring = s[::-1]
    return revstring == s

In [51]:
palindrome("hello")

False

In [52]:
palindrome("racecar")

True

In [53]:
palindrome("helleh")

True

In [ ]:



ispangram("The quick brown fox jumps over the lazy dog")