In [1]:
3 + 3

6

In [7]:
#dict
dic = {
    "mykey":"value",
    "name": "Brad"
}

In [8]:
dic

{'mykey': 'value', 'name': 'Brad'}

In [1]:
my_dogs = 2

In [4]:
a = 5

In [6]:
type(a)

int

In [7]:
my_dog = 'Rocky'

In [9]:
my_dog[-3]

'c'

In [10]:
##slice  [start:stop:step]
    #start is the numerical index for the slice start
    #stop is the index you will go up to (but not include)
    #step is the size of the "jump" you take

In [12]:
print("Hello \nWorld")

Hello
World

In [14]:
len("hello ")

6

In [15]:
mystring = "hello world"

In [17]:
mystring[4:-1:1]

'o worl'

In [20]:
mystring[4:-1]

'o worl'

In [21]:
mystring[::]

'hello world'

In [22]:
mystring[::2]

'hlowrd'

In [24]:
#string reversal
mystring[::-1]

'dlrow olleh'

In [25]:
name = "joe"

In [26]:
namne = "sam"

In [27]:
name = 'sam'

In [28]:
name

'sam'

In [30]:
last_letters = name[1:]

In [31]:
last_letters

'am'

In [32]:
"p" + last_letters

'pam'

In [34]:
first = "josie"
last = "peralta"

In [35]:
first + last

'josieperalta'

In [37]:
name = first + " " + last

In [38]:
name

'josie peralta'

In [45]:
name.find('p')

6

In [41]:
name[-1]

'a'

In [51]:
name.split()

['josie', 'peralta']

In [53]:
list(name)

['j', 'o', 's', 'i', 'e', ' ', 'p', 'e', 'r', 'a', 'l', 't', 'a']

In [56]:
##String interpolation

print("Hello my name is {} and I {}".format('INSERTED', "INSERTED"))

Hello my name is INSERTED and I INSERTED

In [57]:
print("the {} {} {}".format("fox","brown","quick"))

the fox brown quick

In [58]:
print("the {2} {1} {0}".format("fox","brown","quick"))

the quick brown fox

In [59]:
##assign key words

print("the {q} {b} {f}".format(f ="fox", b="brown", q="quick"))

the quick brown fox

In [60]:
## Float formatting follows {value:width.precision f}

In [66]:
result = 100.4444342423

In [67]:
result

100.4444342423

In [68]:
print("the result was {r}".format(r=result))

the result was 100.4444342423

In [74]:
print("the result was {r:1.3f}".format(r=result))

the result was 100.444

In [76]:
## string literal
## f string

In [82]:
name = "josie"
age = 59

In [83]:
print("hello, his name is {}".format(name))

hello, his name is josie

In [84]:
print(f"hello, his name is {name}")

hello, his name is josie

In [85]:
print(f"{name} is {age} years old")

josie is 59 years old

In [86]:
name ="slim shady"
print(f"hi my name is {name}")

hi my name is slim shady

In [91]:
my_list = ["STRING",2,12.6]

In [92]:
my_list

['STRING', 2, 12.6]

In [93]:
len(my_list)

3

In [100]:
my_list[::-1]

[12.6, 2, 'STRING']

In [101]:
another_list = ["hello","world"]

In [103]:
new_list = my_list + another_list

In [105]:
new_list[::-1]

['world', 'hello', 12.6, 2, 'STRING']

In [108]:
new_list[0].lower()

'string'

In [109]:
new_list

['STRING', 2, 12.6, 'hello', 'world']

In [110]:
new_list[0] = "ONE"

In [111]:
new_list

['ONE', 2, 12.6, 'hello', 'world']

In [112]:
## add element in list

new_list.append('SIX')

In [113]:
new_list

['ONE', 2, 12.6, 'hello', 'world', 'SIX']

In [114]:
## Comparison Operators
    #return boolean values using comparisons

In [116]:
1 == 1

True

2 > 4

In [117]:
(2 > 4)

False

In [118]:
"HELLO" == "hello"

False

In [121]:
3 != 3

False

In [122]:
2 > 1

True

In [126]:
1 < 3 and 0 > 1

False

In [127]:
not 1 == 3

True

In [132]:
## Python statements
    # IF, ELIF, ELSE
    
    # if some_condition
        # execute some code
    # elif some_other_condition
        # something differnt
    # else: 
        # do something else

In [136]:
if (1 > 3):
    print("ITS TRUE")
else:
    print("FALSE")

FALSE

In [144]:
location = "Bank"

In [146]:
if location == "Auto shop":
    print("cars are cool!")
elif location == "Bank":
    print("DEPOSITING")
else:
    print("DONDE ESTOY")

DEPOSITING

In [147]:
## FOR LOOPS

In [163]:
my_iter = [1,2,3,4,5,6,7,8,9,10]

for each_elem in my_iter:
    print(each_elem)

1
2
3
4
5
6
7
8
9
10

In [164]:
for num in my_iter:
    # check for even
    if num % 2 == 0:
        print(num)

2
4
6
8
10

In [165]:
for num in my_iter:
    # check for even
    if num % 3 == 0 and num % 5 == 0:
        print("fizzbuzz")
    elif num % 3 == 0:
        print("fizz")
    elif num % 5 == 0:
        print("buzz")
    else:
        print(num)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz

In [166]:
## running tally for multiple loops

In [169]:
list_sum = 0

## for every number in the list
## I take the old value from the sum
    ## add current value 
    ## and reassing into list_sum
for num in my_iter:
    list_sum = list_sum + num
    
print(list_sum)

55

In [177]:
## for loop in string

In [178]:
string

'Its s me mario mario'

In [180]:
for letter in string: 
    print(letter)

I
t
s

s

m
e

m
a
r
i
o

m
a
r
i
o

In [186]:
f(i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U')f(i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U')

SyntaxError: invalid syntax (<ipython-input-186-d32ede1fecfb>, line 1)

In [187]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [188]:
mylist

[(1, 2), (3, 4), (5, 6), (7, 8)]

In [189]:
len(mylist)

4

In [190]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [192]:
##here is tuple unpacking

for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [193]:
mylist

[(1, 2), (3, 4), (5, 6), (7, 8)]

In [195]:
mylist = [(1,2,"a"),(3,4,"b"),(5,6,"c"),(7,8,"five")]

In [196]:
mylist

[(1, 2, 'a'), (3, 4, 'b'), (5, 6, 'c'), (7, 8, 'five')]

In [197]:
for (a,b,c) in mylist:
    print(c)

a
b
c
five

In [198]:
for (a,b,c) in mylist:
    print(b,c)

2 a
4 b
6 c
8 five

In [212]:
## iterate thru dictionary

d = {"k1":1, "k2":2,"k3":3 }

for (key,value) in d.items():
    print(key,value)

k1 1
k2 2
k3 3

In [213]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)